# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_32bit/debug/CP2112_Testing_Console.exe.embed.manifest
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_32bit/debug/CP2112_Testing_Console.exe_manifest.rc
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_32bit/debug/CP2112_Testing_Console.exe_manifest.res
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_32bit/debug/CP2112_Testing_Console.exp
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_32bit/debug/CP2112_Testing_Console.ilk
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_32bit/debug/cp2112_testing_console.pdb
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_64bit/release/CP2112_Testing_Console.exe.embed.manifest
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_64bit/release/CP2112_Testing_Console.exp
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_32bit/Makefile
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_32bit/Makefile.Debug
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_32bit/Makefile.Release
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_64bit/Makefile
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_64bit/Makefile.Debug
testing/console/CP2112_Testing_Console/Qt_5_3_MSVC2013_OpenGL_64bit/Makefile.Release
